/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #000000;
    background-image: url(../img/trmn-subdued.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding-top: 60px;
    width: 100%;
    color: #ffffff;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    color: #ffffee;
}

.project-medusa {
    content: url(../img/project-medusa.png);
}

.trmn-seal {
    content: url(../img/RMN.png);
    width: 100px;
    height: 100px;
}

#branchCIV {
    content: url(../seals/CIV.png);
    width: 100px;
    height: 100px;
}

#branchGSN {
    content: url(../seals/GSN.png);
    width: 100px;
    height: 100px;
}

#branchIAN {
    content: url(../seals/IAN.png);
    width: 100px;
    height: 100px;
}

#branchINTEL {
    content: url(../seals/INTEL.png);
    width: 100px;
    height: 100px;
}

#branchRHN {
    content: url(../seals/RHN.png);
    width: 100px;
    height: 100px;
}

#branchRMA {
    content: url(../seals/RMA.png);
    width: 100px;
    height: 100px;
}

#branchRMMC {
    content: url(../seals/RMMC.png);
    width: 100px;
    height: 100px;
}

#branchRMN {
    content: url(../seals/RMN.png);
    width: 100px;
    height: 100px;
}

#Order-of-the-Star-Kingdom {
    content: url(../awards/orders/medals/Order-of-the-Star-Kingdom.svg);
    width: 150px;
    height: 150px;
}

#Order-of-King-Roger {
    content: url(../awards/orders/medals/Order-of-King-Roger.svg);
    width: 150px;
    height: 150px;
}

#Order-of-the-Golden-Lion {
    content: url(../awards/orders/medals/Order-of-the-Golden-Lion.svg);
    width: 150px;
    height: 150px;
}

#Order-of-Queen-Elizabeth {
    content: url(../awards/orders/medals/Order-of-Queen-Elizabeth.svg);
    width: 150px;
    height: 150px;
}

#Order-of-Merit {
    content: url(../awards/orders/medals/Order-of-Merit.svg);
    width: 150px;
    height: 150px;
}

.medusa-yellow {
    color: #ffee00;
}

.filePhoto {
    width: 150px;
}

/*#tabs .nav-pills > li > a {*/
/*border-radius: 4px 4px 0 0 ;*/
/*}*/

/*#tabs .tab-content {*/
/*color : white;*/
/*!*background-color: #428bca;*!*/
/*padding : 5px 15px;*/
/*}*/

.panel-body {
    background-color: #000000;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-21 {
    font-size: 21px;
}

.size-24 {
    font-size: 24px;
}

.size-30 {
    font-size: 30px;
}

.size-36 {
    font-size: 36px;
}

.size-48 {
    font-size: 48px;
}

.size-60 {
    font-size: 60px;
}

.size-72 {
    font-size: 72px;
}

/* Portrait */
@media screen and (orientation: portrait) {
    #idcard {
        width: 100%;
        height: auto;
    }

}

/* Landscape */
@media screen and (orientation: landscape) {
    #idcard {
        width: auto;
        height: 100%;
    }
}

a {
    text-decoration: none;
}

.has-error .help-block {
    color: red !important;
}

.required {
    border: 1px solid red;
}

.vertical-align {
    display: flex;
    align-items: center;
}

legend {
    color: #ffee00;
}

.multipage_nav {
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

.multipage_nav a {
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    color: #FFF;
    text-shadow: #333 1px 1px 5px;
    text-decoration: none;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
}

.multipage_nav .multipage_next {
    float: right;
    background: #ee3300; /* old browsers */
}

.multipage_nav .multipage_back {
    float: left;
    background: #ee3300; /* old browsers */
}

.multipage_nav .submit {
    background: #ee3300; /* old browsers */
}

.multipage_nav .multipage_state {
    display: block;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.multipage fieldset {
    border: 0px;
    padding: 10px;
    margin: 0px;
}

div.clearer {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    border-width: 0;
    margin: 0;
    padding: 0;
}

ul.multipage_tabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

ul.multipage_tabs li {
    display: block;
    float: left;
    margin-right: 20px;
}

ul.multipage_tabs li a {
    display: block;
    padding: 10px;
}

ul.multipage_tabs li.active {
    background: #CCC;
}

div.selectize-dropdown {
    top: -9px !important;
}

