<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="medusa-yellow text-center">MEDUSA Mobile</h1>
            <h1 class="medusa-yellow text-center">Version {{version}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>MEDUSA Mobile is copyright &copy; 2016 The Royal Manticoran Navy: The Official Honor Harrington Fan Association, Inc. Some Rights Reserved. Honor Harrington and all related materials are &copy; David Weber.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center medusa-yellow">MEDUSA Mobile Development Team</h2>
            <address>Admiral of the Green Sir Robert W. Bulkeley, Jr, KSK,SC, CGM, DSO<br />
            Fourth Space Lord</address>
            <p>Surgeon Commodore Sir David Weiner, KSK, GCE<br/>
            Deputy Fourth Space Lord</p>
            <p>Captain (JG) Erik Plossl<br />
            Director of Software Development</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center medusa-yellow"><a href="testers" data-navigo>Alpha and Beta Testers List</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center medusa-yellow">Special thanks to:</h2>
            <p>Brian Corchiolo (<a href="http://www.bpccreative.com" target="_system">www.bpccreative.com</a>) and Dougal Campbell (<a href="http://dougal.us" target="_system">dougal.us</a>) for their help hamering this code into shape.</p>
            <p>A very special thanks to John M. Wargo (<a href="http://www.johnwargobooks.com" target="_system">www.johnwargobooks.com</a>) for his excellent books (<em>Apache Cordova 4 Programming</em> and <em>Apache Cordova API Cookbook</em>) as well as his willingness to answer stupid questions from a new mobile developer.</p>
        </div>
    </div>


</div>