<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{{#if homeIsActive}} class="active"{{/if}}{{#if profileIsActive}} class="active"{{/if}}><a
                        href="#home" data-navigo>{{#if loggedIn}}Home{{else}}Login{{/if}}</a></li>
                <li{{#if signupIsActive}} class="active"{{/if}}><a href="#signup" data-navigo>New Member Signup</a></li>
                {{#if loggedIn}}
                    <li class="dropdown">
                        <a id="profile" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="fi-arrow-down"></span> Profile</a>
                        <ul class="dropdown-menu">
                            <li{{#if editIsActive}} class="active"{{/if}}><a href="#edit" data-navigo>Edit</a></li>
                            <li{{#if idCardIsActive}} class="active"{{/if}}><a href="#idcard" data-navigo>ID Card</a>
                            </li>
                            {{#if loggedIn}}
                                <li><a href="#refresh" data-navigo>Reload User Info</a></li>
                            {{/if}}
                        </ul>
                    </li>
                {{/if}}
                {{#if events.length}}
                    <li class="dropdown">
                        <a id="events" href="#" class="dropdown-toggle" data-toggle="dropdown" rolw="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fi-arrow-down"></span> Check Members In</a>
                        <ul class="dropdown-menu">
                            {{#each events as |event index|}}
                                <li><a href="#checkin/{{event._id}}" data-navigo>{{event.event_name}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}
                <li class="dropdown">
                    <a id="help" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><span class="fi-arrow-down"></span> Help</a>
                    <ul class="dropdown-menu">
                        <li{{#if aboutIsActive}} class="active"{{/if}}><a href="#about" data-navigo>About</a></li>
                        <li{{#if setupIsActive}} class="active"{{/if}}><a href="#setup" data-navigo>Setup</a></li>

                        <li{{#if debugIsActive}} class="active"{{/if}}><a href="#debug" data-navigo>Show Debug info</a>
                        </li>
                    </ul>
                </li>
                {{#if loggedIn}}
                    <li><a href="#logout" data-navigo>Logout</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
