<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img src="{{imgSrc}}" class="center-block img-responsive img-circle filePhoto">
        </div>
    </div>
</div>