<div class="container-fluid">
    <h1 class="medusa-yellow text-center">MEDUSA Server URL</h1>
    <p><strong><span class="alert-warning">WARNING!</span> Do not change this entry unless you know what you are doing or have
    been instructed to do so by a member of the MEDUSA Mobile Development Team.  Changing the URL of the MEDUSA server
    to an incorrect value will prevent MEDUSA Mobile from working!</strong></p>

    <div class="input-group">
        <span class="input-group-addon fi-home" id="server-addon"></span>
        <input type="text" class="form-control" placeholder="https://medusa.trmn.org" aria-describedby="server-addon" id="server-url" value="{{url}}">
    </div>
    <br />
    <button type="submit" id="save-setup" class="btn btn-default center-block"><span class="fi-save"></span> Save</button>
</div>