<div class="container-fluid">
    <p id="start" class="text-center">
        <img class="img-responsive center-block project-medusa">
    </p>

    <h2 id="testersHeader">Alpha and Beta Testers</h2>

    <div class="row" id="testers">
        <div class="col-xs-12" id="testerscontent">
            <p>Scott D. Ash</p>
            <p>Christopher Beilby</p>
            <p>Dan Brandow</p>
            <p>Diane Bulkeley</p>
            <p>Tom Coonradt</p>
            <p>Adam Davis</p>
            <p>Robert Demkiw</p>
            <p>Michael D. Garcia</p>
            <p>Joseph Harney</p>
            <p>Mike Henigan</p>
            <p>Doug Henry</p>
            <p>Peter Howdeshell II</p>
            <p>Robert J. Jackson</p>
            <p>James Jones</p>
            <p>Chrissy Killian</p>
            <p>Bill Knight</p>
            <p>Martin A. Lessem</p>
            <p>Laura Lochen</p>
            <p>Laura Sophia Lüschen</p>
            <p>Patrick McKinnion</p>
            <p>Douglas Wade Needham</p>
            <p>Sean Niemeyer</p>
            <p>Marc Reeve</p>
            <p>Michael Romero</p>
            <p>James D. Sena</p>
            <p>Dan Spence</p>
            <p>Jack Warren</p>
            <p>Kim Whaley</p>
            <p>Misty White</p>
            <p>Zach White</p>
            <p>Danel Wood</p>
        </div>
    </div>
</div>