<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12"><p><em>Thank you for your interest in joining The Royal Manticoran Navy: The Official Honor Harrington Fan Association.  Welcome Aboard!</em></p>

            <p>Your application will be reviewed and you should receive an email in 48 to 72 hours once your account has been activated.</p>

            <p><strong>You will not be able to log in to MEDUSA or MEDUSA MOBILE until you have received your welcome email.</strong></div></p>
    </div>
</div>